@media (max-width: 768px) {
  .body__inner {
    margin-top: 0;
    margin-bottom: 0;
    padding: 35px;
  }
}

@media (max-width: 426px) {
  .body__inner {
    margin-top: 0;
    margin-bottom: 0;
    padding: 25px;
  }
}